extends layout

block content
  .row.justify-content-center
    .col-md-8
      .card
        .card-body
          .header-container.text-center
            table.w-100.table-borderless(style="color:white; font-size: ")
              tr
                td.text-left
                  b Usuario: #{user.name}
                td.text-center.mt-5(colspan="2")
                  a.btn.btn-danger(href='/index') Regresar al Menú
              tr
                td.text-center Últimos movimientos
          p.mb-2.mt-2.text-center Estas son tus 16 últimas transacciones
          table.table.table-striped.table-scrollable(style="max-height: 100px; overflow-y: auto;")
            thead
                tr
                th ID
                th Detalle
                th Monto
                th Fecha
            tbody
                each transaccion in transacciones
                  tr
                  td.bg-light-red= transaccion.id 
                  td.bg-light-red= transaccion.concepto
                  if transaccion.idEstado == 1
                    td.bg-light-red.positive +$#{transaccion.monto}
                  else
                    td.bg-light-red.negative -$#{transaccion.monto}
                  td.bg-light-red= transaccion.fecha
                tr
                td.bg-light-red 1
                td.bg-light-red Transaccion Muestra
                td.bg-light-red $20,000
                td.bg-light-red 21/05/2024
                



